# System files
.DS_Store

# Node dependencies
node_modules

# Package manager lock files
.yarn/*
yarn.lock
package-lock.json
.lockfile

# Build files
*.local
.vite-inspect
.remote-assets
components.d.ts
